<ion-header>
  <ion-navbar>
    <ion-title>
        CMSC 125 Laboratory 1: Multiprogramming and Time-Sharing System
      <button ion-button color = "danger" round small (click) = "start()">Simulate</button>
    </ion-title>

    <ion-item>
        <ion-label>Resources: {{ randomResourceLimit }} = {{ sortedRes }}</ion-label>
    </ion-item>
  
    <ion-item>
        <ion-label>Users: {{ randomUserLimit }} = {{ sortedUser }}</ion-label>
    </ion-item>

  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid>

      <ion-row>
        <ion-col col-xl-2 *ngFor = "let res of resourceCardArray">
          <ion-card>
            <ion-card-header>
              Resource #{{ res.resourceName }}
            <ion-label>Total Time: {{ res.resourceTime }} </ion-label>
            </ion-card-header>
            <ion-card-content>

                <ion-row>
                    <ion-col>
                      <div>NAME</div>
                      </ion-col>
                    <ion-col> 
                      <div>TIME</div>
                      </ion-col>
                    <ion-col>
                     <div>STATUS</div>
                      </ion-col>
                 </ion-row>
                
                 <ion-row *ngFor = "let x of res.queueList">
                    <ion-col>
                      <div>{{ x.name }}</div>
                    </ion-col>
    
                    <ion-col> 
                      <div>{{ x.time }}</div>
                      
                    </ion-col>
                    
                    <ion-col>
                      <div>{{ x.status }}</div>
                    </ion-col>
                 </ion-row>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  



</ion-content>