page-home {

    ion-card-header {
        background-color: skyblue;
    }

    ion-card-content {
        background-color: beige;
    }

    .card {
        text-align: center;
        vertical-align: middle;
   }

}
