page-home {

    ion-card-header {
        background-color: rgb(88, 152, 248);
    }

    ion-card-content {
        background-color: rgb(157, 227, 255);
    }

    .card {
        text-align: center;
        vertical-align: middle;
   }

}
