page-home {

    
    ion-card-header {
        background-color: rgb(240, 196, 145);
    }

    ion-card-content {
        background-color: rgb(175, 219, 240);
    }
    .card {
        text-align: center;
        vertical-align: middle;
   }
   

}
